* {
    margin: 0;
    padding: 0;
}

body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

body,
button,
input,
select,
textarea {
    font-family: Helvetica, Arial, sans-serif, "Microsoft YaHei";
}

img {
    border: 0;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: #292836;
}
a{
    text-decoration-line: none;
    color: #585769;

}
#title {
    text-align: center;
    font-size: 18px;
    color: #fff;
    line-height: 45px;
    background: #302f2F
}
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.lf {
    float: left;
}

.rf {
    float: right;
}

.cl {
    clear: both;
}

.rlt{
    position: relative;
}
.pore{
    position: relative;
}
.poab{
    position: absolute;
}
.flex{
    display: -webkit-flex;   
    display: flex;   
    display: -ms-flexbox;
}
img {
    display: block;
    width: 100%;
}
.page{
    margin-bottom: 8vh;
}
.down{
    color: #46963b;
}
.up,.active{
    color:#d61510;
}
.normal{
    color: #e6e6e6;
}
.small{
    font-size: 12px;
}
.smaller{
    font-size: 12px;
transform: scale(.8);
}
.van-cell{
    background-color: #363544;
    color: #e6e6e6;
    /* flex-direction: column; */
    font-size: 16px;
}
.van-cell:first-child{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.van-cell:last-child{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.van-cell-group{
    background-color: #292836;
}
/* input框 */
[class*=van-hairline]::after{
    border: none;
}
.van-field__control{
    color: #e6e6e6;
}
.cho-page .van-field__control{
    color: #000000;
}
.login-page .van-field__label{
    text-align: start;
    color: #585769;
}
.auth-page .van-field__label{
    font-size: 14px;
    text-align: start;
}
.auth-page .bind-card .van-cell{
    border-bottom: 1px solid #424053;
}
.register .van-field__left-icon .van-icon,.register .van-cell__value--alone{
    line-height: 32px;
}

.btn{
    color:#e6e6e6;
    border: none;
    background-color:#D61410;
    width: 76%;
}
.btn-disable{
    color:#000000;
    border: none;
    background-color:#e6e6e6;
    width: 76%;
}
.van-tabbar-item__icon img{
    width: 54%;
    height: 100%;
    margin: 0 auto;
}
/* 资金明细页单选框 */
.capitalBanner .van-radio__label{
    color: #898898;
    font-size: 12px;
}
.capitalBanner .van-radio__icon .van-icon{
    width: 16px;
    height: 16px;
}
.capitalBanner .van-radio__icon, .van-radio__label{
    line-height: 16px;
}
/* 输入框 */
.van-field__control {
    font-size: 14px;
}
.recharge .van-cell__left-icon, .van-cell__right-icon{
    font-size: 30px;
}
.van-toast{
    color: #191616;
    background-color: rgba(255, 255, 255, 0.8);
}
/* 箭头 */
.van-icon-arrow:before{
    font-size: 22px;
    position: absolute;
}
/* 绑卡 城市选择器*/

.bind-card .van-picker__cancel,.bind-card .van-picker__confirm{
    color: #d61510;
}